<ion-header>
  <ion-toolbar color="app-primary">
    <ion-title>Muro</ion-title>
    <ion-buttons slot="end">
      <ion-button style="width: 55px;" color="app-secondary">
        <ion-icon slot="icon-only" size="large" name="chatbubbles"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="collection ion-padding" style="column-count: 2;">
    <div class="collection-item" *ngFor="let item of workService.$works | async">
      <img [src]="item.thumb.picture"/>
    </div>
  </div>
</ion-content>