@font-face {
  font-family: 'Diplomata_SC';
  src: url('./assets/fonts/Diplomata_SC/DiplomataSC-Regular.ttf');
}

@font-face {
  font-family: 'Lobster';
  src: url('./assets/fonts/Lobster/lobster_font.woff2') format('woff2');
}

@font-face {
  font-family: 'Anton', sans-serif;
  src: url('./assets/fonts/Anton/anton_font.woff2') format('woff2');
}