#container {
    padding: 20px;
    height: 90vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
  }

.menuProfile{
  --width: 225px;
}
.follows{
  position: relative;
  bottom: -10px;
  text-align: center;
}
.imageContainer{
  display:inline-block;
  position:relative;
  width: 150px  !important;
  height: 100px !important;
}
.btnEditPicture{
  background-color: #EDF0F2;
  border-radius: 50px;
  position: absolute;
  border-radius:100px;
  bottom:0.1px;
  right:34px;
  width: 32px;
  height: 30px;
}
.icnEditPicture{
  position: relative;
  left: -6px;
  top: -1px;
}
.scoreFollows{
  margin-top: 20px;
}
.description{
  width: 60%;
  margin-left:17px;
}
#profileImg{
  display: block;
  border-radius:150px;
  margin-left:17px;
}
.divProfile{
  width: 30%;
  text-align: center;
  justify-content: space-between;
}
.containerProfile{
  display: flex;
  flex-direction: row;
}
.photos{
  width: 100%;
  display: flex;
  flex-direction: row;
}