<ion-header>
  <ion-toolbar color="app-primary">
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="presentPopover($event)">
        <ion-icon slot="icon-only" name="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="big-img-container">
    <img class="big-img" src="{{thumb.picture}}"/>
  </div>
  <div class="container" *ngIf="user" >
    <ion-icon *ngIf="liked" color="app-secondary" class="icnLike" name="heart" (click)="deleteLikePicture()"></ion-icon>
    <ion-icon *ngIf="!liked" color="app-secondary" class="icnLike" name="heart-outline" (click)="likePicture()"></ion-icon>
    <ion-icon class="icnChat" color="app-secondary" name="chatbubbles-outline"></ion-icon><br>
    <div class="likes">
        <ion-label><b>{{likes}} Me gusta</b></ion-label>
    </div>
    <div class="nameUser">
      <ion-label>{{user.name}}</ion-label>
    </div>
  </div>
</ion-content>