.big-img-container{
  max-height: 90% !important;
  background-color: black;
  display: flex;
  justify-content: center;
}
.icnLike{
  width: 30px; height: 30px; margin-left: -2px;
}
.icnChat{
  width: 30px; height: 30px; margin-left: 15px;
}
.likes{
  margin-top: 5px;
}
.nameUser{
  margin-top: 5px;
  display: flex;
  ion-label{
    margin-left:15px;
    margin-top: 15px;
  }
  ion-thumbnail{
    --border-radius:25px;
  }
}