<ion-content [fullscreen]="true">
  <ion-title class="title app-name">Tattook</ion-title>
  <div id="container">
    <div class="desc-text">
      Introduce <br>
      la dirección <br>
      donde trabajas.
    </div>
    <div #formContainer class="form-container">
      <input 
        (keyup)="onKeyUpInput($event)"
        (focus)="onFocusChange($event)"
        (focusout)="onFocusChange($event)"
        [(ngModel)]="addressInput"
        type="text"
        placeholder="Buscar dirección" 
        class="item-input"/>
      <ion-button (click)="getGeolocation()" class="navigate-btn" fill="outline" icon-only>
        <ion-icon class="navigate-icon" name="navigate-outline"></ion-icon>
      </ion-button>
    </div>
    <ion-list class="prediction-list" [ngStyle]="predictionListStyles" *ngIf="predictions.length">
      <ion-item *ngFor="let item of predictions" (click)="onClickAddress(item)">
        <ion-label><ion-icon name="location-outline"></ion-icon> {{item.description}}</ion-label>
      </ion-item>
    </ion-list>
    <div class="desc-info">
      Está información nos ayudará a mostrarte en los resultados de búsqueda de clientes potenciales por cercanía.
    </div>
    <app-google-login-button 
      [isDisabled]="!location.lat || !location.lng || !address" 
      role="tattoo_artist"
      [location]="location"
      [address]="address"></app-google-login-button>
  </div>
</ion-content>
