.big-img{
  height: 50vh !important;
  margin-top: 3vh !important;
  margin-bottom: 3vh !important;
}
.big-img-container{
  background-color: black;
  display: flex;
  justify-content: center;
}
.select-board-container{

}
.btn-board{
  --box-shadow: 0px;
}