<ion-header>
  <ion-toolbar color="app-primary">
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title size="large">
      Editar perfil
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form (ngSubmit)="onSubmit()" [formGroup]="profileForm">
    <ion-list inset="true" class="ion-no-margin ion-no-padding">
      <ion-item>
        <ion-label position="floating">Nombre: </ion-label>
        <ion-input type="text" formControlName="username"></ion-input>
      </ion-item>
    
      <ion-item>
          <ion-label position="floating">Descripción: </ion-label>
          <!-- <ion-input type="text" ></ion-input> -->
          <ion-textarea
            rows="6"
            class="textarea-description" 
            placeholder="Añade una descripción..." 
            formControlName="description"></ion-textarea>
      </ion-item>
    </ion-list>
    <ion-button type="submit" color="app-secondary" [disabled]="!profileForm.valid">Aceptar</ion-button>
  </form>
</ion-content>
