#container {
  padding: 10px;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title{
  height: 10vh;
}
.app-name{
  font-family: 'Diplomata_SC';
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-content ion-toolbar {
  --background: translucent;
}

.logo-google{
  margin-right: 10px;
}

.btn-login-artist{
  position: absolute;
  width: 94vw;
  bottom: 4vh;
  height: 50px;
  --border-width: 1px;
}

.btn-google {
  --background: #f5f5f5;
  --color: #393939;
  height: 50px;
  width: 100%;
}
.btn-google-content{
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  padding: 10px 0px;
}

.btn-google-text{
  flex: 1;
}