<ion-header>
  <ion-toolbar>
    <ion-title>Tattook</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false">
  <ion-router-outlet></ion-router-outlet>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
        <ion-icon name="home-outline"></ion-icon>
      </ion-tab-button>
  
      <ion-tab-button tab="images">
        <ion-icon name="images-outline"></ion-icon>
      </ion-tab-button>
  
      <ion-tab-button tab="outline">
        <ion-icon name="heart-outline"></ion-icon>
      </ion-tab-button>
  
      <ion-tab-button tab="profile" [routerLink]="['profile']">
        <ion-icon name="person-outline"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>